<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= link_to (image_tag(user.gravatar_url)), profile_path(user) %>
      <h1><%= @user.full_name %></h1>
      <span><%= link_to "view my profile", profile_path(user) %></span>
      <span><b>Posts:</b> <%= @user.statuses.count %></span>
    </section>
    <section>
      <%= render 'stats' %>
      <% if @users.any? %>
        <div class="user">
          <% @users.each do |user| %>
            <%= link_to (image_tag(user.gravatar_url)), profile_path(user) %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>