


<div class="container-fluid profile">
	<div class="top-section">
		<div class="profile_pic img-rounded">
			<%= link_to(image_tag(@user.avatar.url), profile_path(@user.profile_name)) %>
		</div>
		
		<div class="profile_header">
			<div class="name">
				<h2><%= @user.full_name %></h2>
				<p><%= @user.role %></p>
				<%= render 'follow_form'  %>
			</div>
			<div class="profile_nav">
				<ul class="nav nav-pills">
					<li><%= link_to "Shows", shows_path %></li>
					<li><%= link_to "Music", music_path %></li>
					<li><%= link_to "Videos", videos_path %></li>
					<li><%= link_to "Albums", album_path(current_user) %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Followers", followers_path %></li>
				</ul>
			</div>
		</div>
	
	
	</div>
	<div class="profile_info col-md-3">
		<% if user_signed_in? %>
			
		<% end %>
			<%= render 'stats' %>
		
		<div class="photos">

		</div>

	</div>





	<div class="col-md-6">
		<div class="post">
				<div class="post_area">
					<%= simple_form_for(@status, html: {class: "form-horizontal"}, remote: true, multipart: true) do |f| %>
						<div class="sup">
						    <%= f.input :content %>
						    <%= f.fields_for :post do |post_fields| %>
        						<%= post_fields.input :attachment, as: :file %>
        					<% end %>
						</div>
						<div class="form-action post_button">

						    <%= f.button :submit, class: "btn btn-primary" %>
						</div>
					<% end %>
				</div>

		<div class="feed">
			<% if @statuses %>
				<% @statuses.each do |status| %>
					<div class="well">
						<%= status.content %>
						<% if status.post && status.post.attachment? %>
            				<span class= "label label-primary">
              					<%= status_post_link (status) %>
            				</span>
          				<% end %>
						<hr />
						<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	

</div>
