<div class="container-fluid profile">
	<div class="top-section">
		<div class="profile_pic img-rounded">
			<%= link_to(image_tag("profile_pic.jpg" )) %>
		</div>
		
		<div class="profile_header">
			<div class="name">
				<h1><%= @show.user.full_name %></h1>
					<p><%= @show.user.role %></p>
					<strong><%= @show.content %></strong>
					
			</div>
			<div class="profile_nav">
				<ul class="nav nav-pills">
					<li><%= link_to "Shows", shows_path %></li>
					<li><%= link_to "Music", music_path %></li>
					<li><%= link_to "Videos", videos_path %></li>
					<li><%= link_to "Pictures", pictures_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Followers", followers_path %></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<% if @bids %>
				<p><%= @bids.count %> Bids</p>
		<% end %>

	</div>
	<div class="col-md-6">
		<div class="post">
			<div class="post_area">
				<%= simple_form_for(@status, html: {class: "form-horizontal"}, remote: true, multipart: true) do |f| %>
					<div class="sup">
						<%= f.input :show_id, collection: Show.all, label_method: :content %>
					    <%= f.input :content %>
					    <%= f.fields_for :post do |post_fields| %>
    					<%= post_fields.input :attachment, as: :file %>
    					<% end %>
					</div>
					<div class="form-action post_button">

					    <%= f.button :submit, class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>

			<div class="feed">
				<% if @statuses %>
					<% @statuses.each do |status| %>
						<div class="well">
							<%= status.content %>
							<% if status.post && status.post.attachment? %>
	            				<span class= "label label-primary">
	              					<%= status_post_link (status) %>
	            				</span>
	          				<% end %>
							<hr />
							<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
						</div>
					<% end %>
				<% end %>
				
			</div>
		</div>


	</div>
	<div class="col-md-3">


	</div>







</div>