<!DOCTYPE html>
<html>
<head>
  <title>Groovz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top_bar navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top top_nav" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-brand">
        <%= link_to "Groovz", home_path %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar navbar-nav navbar-left">
          <li><%= link_to "Global Feed", global_path %></li>
          <li><%= link_to "Venues", root_path %></li>
          <li><%= link_to "Artists", artists_path %></li>
          <li><%= link_to "Shows", new_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.full_name, profile_path(current_user) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Register", register_path %></li>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>

    	
    	  <% flash.each do |type, message| %>
            <div class="alert <%= flash_class type%>">
                <button class="close" data-dismiss="alert">x</button>
                <%= message %>
            </div>
            
        <% end %>
        <div class="content">
          <%= yield %>
        </div>	
  </div>
</body>
</html>
